body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:577px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:0px;
  top:122px;
  width:142px;
  height:577px;
}
#u872 {
  position:absolute;
  left:2px;
  top:280px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u873 {
  position:absolute;
  left:0px;
  top:257px;
  width:142px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
}
#u874 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u875 {
  position:absolute;
  left:0px;
  top:356px;
  width:142px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
}
#u876 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u877 {
  position:absolute;
  left:0px;
  top:406px;
  width:142px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
}
#u878 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u879 {
  position:absolute;
  left:0px;
  top:306px;
  width:142px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
}
#u880 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u881 {
  position:absolute;
  left:0px;
  top:207px;
  width:142px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
}
#u882 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u884 {
  position:absolute;
  left:18px;
  top:339px;
  width:124px;
  height:34px;
  color:#FFFFFF;
}
#u885 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u886 {
  position:absolute;
  left:18px;
  top:372px;
  width:124px;
  height:34px;
  color:#FFFFFF;
}
#u887 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:87px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u888 {
  position:absolute;
  left:0px;
  top:1px;
  width:1300px;
  height:87px;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
#u889 {
  position:absolute;
  left:2px;
  top:27px;
  width:1296px;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u890 {
  position:absolute;
  left:0px;
  top:157px;
  width:142px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
}
#u891 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u892 {
  position:absolute;
  left:0px;
  top:457px;
  width:142px;
  height:34px;
  font-size:16px;
  color:#FFFFFF;
}
#u893 {
  position:absolute;
  left:2px;
  top:8px;
  width:138px;
  word-wrap:break-word;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u895 {
  position:absolute;
  left:18px;
  top:490px;
  width:124px;
  height:34px;
  color:#FFFFFF;
}
#u896 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u897 {
  position:absolute;
  left:18px;
  top:523px;
  width:124px;
  height:34px;
  color:#FFFFFF;
}
#u898 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u899 {
  position:absolute;
  left:18px;
  top:556px;
  width:124px;
  height:34px;
  color:#FFFFFF;
}
#u900 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u901 {
  position:absolute;
  left:18px;
  top:589px;
  width:124px;
  height:34px;
  color:#FFFFFF;
}
#u902 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  word-wrap:break-word;
}
